# Datalar klasöründeki datalari pandas dataframe ile okutup alttaki işlemleri yapiniz.

1 - Tum ogrencilerin bilgilerini tek bir dataframe icinde su sutunlardan olusacak sekilde birlestiriniz; > " Sinif ismi, Ogrenci Adi, Dogru Sayisi, Yanlis Sayisi, Bos Sayisi"

In [7]:
import pandas as pd
import numpy as np
#ayni dizinde oldugumuz icin ekstra yol girilmedi
sayfa = pd.ExcelFile("py_mind.xlsx")
sayfa1 = pd.ExcelFile("py_opinion.xlsx")
sayfa2 = pd.ExcelFile("py_sense.xlsx")
sayfa3 = pd.ExcelFile("py_science.xlsx")

files = [sayfa, sayfa1, sayfa2 , sayfa3]
siniflar=[]
isimler=[]
dogru_sayisi=[]
yanlis_sayisi=[]
bos_sayisi=[]

for i in files:                                     
    for j in range(len(i.sheet_names)):                
        
        data = pd.read_excel(i, i.sheet_names[j]) 
        
        isimler += [data.columns[0]]                
        dogru_sayisi += [data.iloc[-3,1]]
        yanlis_sayisi += [data.iloc[-2,1]]
        bos_sayisi += [data.iloc[-1,1]]
        
        
        if i == sayfa:
            sinif = "py_mind"
        elif i == sayfa1:
            sinif = "py_opinion"
        elif i == sayfa2:
            sinif = "py_sense"
                
        elif i == sayfa3:
            sinif = "py_science"
       
        siniflar += [sinif]
        

    
Ogrenciler = pd.DataFrame({"Sinif": siniflar, "Ogrenci Adi": isimler ,"Dogru": dogru_sayisi,"Yanlis": yanlis_sayisi, "Bos": bos_sayisi})

        
Ogrenciler.index = Ogrenciler.index + 1  # sifirdan baslamamasi icin 
for a in Ogrenciler: # 24 . siradaki selcuk d nin dogru sayilari ve yanlis sayilari girilmediginden onlari sifir olarak gosterdik.
    for i in Ogrenciler.Dogru :
        if i == "B":
            Ogrenciler.Dogru.replace("B",0, inplace=True) 
    for j in Ogrenciler.Yanlis:
        if j == "A":
            Ogrenciler.Yanlis.replace("A",0, inplace=True)
    for k in Ogrenciler.Bos:
        if k == "A":
            Ogrenciler.Bos.replace("A",0, inplace=True)
Ogrenciler

         Sinif   Ogrenci Adi  Dogru  Yanlis  Bos
1      py_mind  Emrullah Gul     14       6    0
2      py_mind      Osman Ay      9      11    0
3      py_mind         Ozgur      9      11    0
4      py_mind     Emrah buy      9      11    0
5      py_mind          Riza      7      12    1
6      py_mind          Zeyd     13       6    1
7      py_mind       Ufuk Do     15       2    3
8      py_mind    Mehmet A.O     10      10    0
9      py_mind       Murat Z      9      11    0
10     py_mind     Hakan Yil     14       6    0
11  py_opinion       Emrah U     13       7    0
12  py_opinion      Salih Ar     10      10    0
13  py_opinion      Murat Oz     14       6    0
14  py_opinion       Aydin D     10      10    0
15  py_opinion        Ilhami     12       8    0
16  py_opinion     Ibrahim F      9      11    0
17  py_opinion       Ensar B      6      14    0
18  py_opinion       Nazmi D     15       5    0
19  py_opinion    Mehmet Kar     13       7    0
20  py_opinion        Naim U     15       5    0
21    py_sense      Ramazan      10      10    0
22    py_sense         Faruk     16       4    0
23    py_sense   Huseyin Tun     14       6    0
24    py_sense      Selcuk D      0       0    0
25    py_sense      Adnan Av     14       5    1
26    py_sense          Kaya     11       9    0
27    py_sense        Zafer      12       7    1
28    py_sense      Mehmet A     11       9    0
29    py_sense      Fikret Y     10      10    0
30    py_sense      Emrah Ak     11       9    0
31  py_science      Dilek Ko     17       2    1
32  py_science      Zerin Oz     15       1    4
33  py_science      Beyza Ay     12       5    3
34  py_science       Esra Te     12       8    0
35  py_science       Sehri G     20       0    0
36  py_science     Emine Ser     11       6    3
37  py_science      Emine Tu     16       3    1
38  py_science     Rukiye Ay      9       7    4

2 - Sinava giren ogrenci sayisini hesaplayiniz.

In [62]:
all_students["Ogrenci Adi"].count()

38

3 - Siniflarin ayri ayri Dogru yanlis bos ortalamalarini hesaplayiniz.

In [98]:
all_students.groupby("Sinif").mean() # bunu bulabilmek icin yukaridaki selcuk d adli ogrencinin dogru yanlis ve bo sayilarini sifirladik.

            Dogru  Yanlis  Bos
Sinif
py_mind      10.9     8.6  0.5
py_opinion   11.7     8.3  0.0
py_science   14.0     4.0  2.0
py_sense     10.9     6.9  0.2

4 - Her sinifin ayri ayri en basarili ogrencisini bulunuz.

In [34]:

py_mind = all_students[all_students["Sinif"]=="py_mind"] 
py_sense = all_students[all_students["Sinif"]=="py_sense"]    
py_opinion = all_students[all_students["Sinif"]=="py_opinion"]   
py_science = all_students[all_students["Sinif"]=="py_science"]

#head olmazsa butun sinifi siralar ,head(1) ile tek ogrenciye ulasabiliyoruz
mind_1st = py_mind.sort_values(by="Dogru",ascending=False).head(1)
sense_1st=py_sense.sort_values(by="Dogru",ascending=False).head(1)
science_1st=py_science.sort_values(by="Dogru",ascending=False).head(1)
opinion_1st=py_opinion.sort_values(by="Dogru",ascending=False).head(1)

#istedigimiz sinifin birincisine ulasabiliriz
opinion_1st

         Sinif Ogrenci Adi  Dogru  Yanlis  Bos
18  py_opinion     Nazmi D     15       5    0

5 - Tum sinavin en basarili ilk 3 ogrencisini bulunuz.

In [28]:
#head olmazsa hepsini siralar

all_students.sort_values(by="Dogru", ascending=False).head(3) #head ile ilk uc veriyi alabildik

         Sinif Ogrenci Adi  Dogru  Yanlis  Bos
35  py_science     Sehri G     20       0    0
31  py_science    Dilek Ko     17       2    1
37  py_science    Emine Tu     16       3    1

6 - Siniflarin standart sapmalarini hesaplayiniz. (Dogru sayilari uzerinden)

In [141]:
all_students.groupby("Sinif")["Dogru"].std() #standart sapma

Sinif
py_mind       2.806738
py_opinion    2.907844
py_science    3.625308
py_sense      4.306326
Name: Dogru, dtype: float64

7 - Sinavin dogru yanlis ve bos ortalamalarini hesaplayiniz.

In [142]:
all_students.mean() # sinavin dogru yanlis ve bos ortalamalari

Dogru     11.763158
Yanlis     7.105263
Bos        0.605263
dtype: float64